*{
    background-color: rgb(179, 243, 187);
    font-family: sans-serif;
}
h1{
    font-weight: 900;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    padding: 5px;
    outline: none;
    background-color: black;
    color: white;
}
.btn{
    margin-top: 20px;
}
input{
    outline: none;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
}
.finalist{
    margin-top: 16px;
}